// GOOGLE FONTS LINK
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Pacifico&display=swap');

html {
    font-size: 125%;
}

// FONT FAMILIES
h1, h2, h3, .logo, button {
    font-family: 'Pacifico', cursive;
    font-weight: lighter;
    margin: 0;
} 

a, p, li, input, textarea {
    font-family: 'Lato', sans-serif;
    margin: 0;
}  

// HEADINGS & HEADER STYLES
h1 {
    color: $darkBlue;
    font-size: 3rem;
    line-height: 3.25rem;
    max-width: 28rem;
    margin-top: 4rem;
}

h2 {
    color: $white;
    font-size: 2rem;
    letter-spacing: 0.25rem;
}

h3 {
    color: $white;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
}


.logo {
    font-size: 1.35rem;
    letter-spacing: 0.2rem;
}

ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: $black;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: solid underline $turquoiseBlue 2px;
}

// GENERAL BODY
p {
    font-size: 0.9rem;
    font-weight: lighter;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
    margin: 1rem 0;
}

// SPECIFIC BODY

// BLOG
div.blogTxt:nth-child(2) {
    color: $lightBlue;
}

// ASIDE
.asideTxt ul h3 {
    margin: 1rem 0;
}
.asideTxt p, .asideTxt li{
    font-size: 0.85rem;
    letter-spacing: 0.1rem;
    line-height: 1.2rem;
}
.asideTxt li {
    margin: 0 1rem;
}

// COMMENTS
.comments h2 {
    color: $black;
    margin: 2rem 0;
}

.comments p {
    font-size: 0.85rem;
    letter-spacing: 0;
}

span {
    color: $darkBlue;
    font-weight: bold;
    line-height: 1.75rem;
}


// FORM
::placeholder {
    color: $black;
    font-size: 0.9rem;
    opacity: 1;
}

button {
    color: $white;
    font-size: 1.25rem;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
}
