@media (max-width: 1256px){

    main{
        height: auto;
    }

    h1 {
        padding-left: 10%;
        padding-top: 10%;
    }

    form, aside {
        width: 70%;
        text-align: center;
        align-items:center;
        position: static;
        margin: 4rem;
    }
}

@media (max-width: 990px){
    h1 {
        text-align: center;
        padding: 4rem 0;
    }
    form {
        width: 80%;
    }
    aside p {
        margin: 0.5rem;
    }
}

@media (max-width: 864px) {
    header {
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .navMenu {
        visibility: hidden;
        position: fixed;
        flex-direction: column;
        justify-content: space-evenly;
        top: 0;
        right: 0;
        bottom: 0;
        width: 0;
        z-index: 20;
        background-color: $lightBlue;
        transition: all ease-out 0.5s;
    }

    .burgerMenu {
        font-size: 1.25rem;
        display: block;
        position: fixed;
        top: 3.5%;
        right: 9.5%;
        z-index: 20;
        padding-top: 0.75rem;
    }

    .navMenu.slideOut {
        // display: flex;
        visibility: visible;
        width: 30%;
    }

    h1 {
        padding-top: 40vh;
    }
    input {
        width: 100%;
    }
    input[type=email] {
        margin-left: 0;
    }
}