
// COLOR VARIABLES
$darkBlue: #1A315C;
$darkGreen: #113d4f;
$turquoiseBlue: #0CADC0;
$lightBlue: #CCEDFB;
$black: #1E1713;
$blackTwo: #161515;
$white: #FFFFFF;
$buttonBlue: #C5D4F4;

@import 'setup';
@import 'typography';
@import 'headerFooter';



.wrapper {
    max-width: 1080px;
    width: 80%;
    margin: 0 auto;
}

main {
    background-color: $lightBlue;
    position: relative;
}