// COLOR VARIABLES
$darkBlue: #1A315C;
$darkGreen: #113d4f;
$turquoiseBlue: #0CADC0;
$lightBlue: #CCEDFB;
$black: #1E1713;
$blackTwo: #161515;
$white: #FFFFFF;
$buttonBlue: #C5D4F4;

@import 'setup';
@import 'typography';
@import 'headerFooter';

.wrapper {
    max-width: 1080px;
    width: 80%;
    margin: 0 auto;
}

main {
    background-color: $lightBlue;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

// FORM 
form, input, textarea {
    background: $darkGreen;
}

form {
    width: 55%;
    margin: 0;
    padding: 0.5rem 2rem;
    box-shadow: 30px 30px $turquoiseBlue;
    position: absolute;
    top: -20%;
    left: 8%;
}

input {
    width: 45.5%;
    margin: 0.5rem 0;
    padding: 1rem 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px $turquoiseBlue;
}

input[type=email] {
    margin-left: 2.5rem;
}

textarea {
    width: 100%;
    border: solid 2px $turquoiseBlue;
    resize: none;
    margin: 1rem 0;
    padding: 1rem;
}

button {
    width: 100%;
    padding: 0.5rem 0;
    background-color: $buttonBlue;
    border-style: none;
    padding: 0.5rem 0;
    margin: 1rem 0;
} // FORM END


aside {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 17.5%;
    right: 10%;
}


@import 'mediaQueries';